* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.img {
    vertical-align: middle
}

.body {
    font-family: 'Rubik', sans-serif
}

.header {
    width: 100%;
    height: 332px;
    left: 0;
    top: 0;
    background-color: #f6f6f9
}

.line {
    height: 4px;
    margin: 0;
    background: #295093
}

.header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    padding-top: 24px;
    padding-right: 120px;
    margin-left: 153px;
    padding-bottom: 24px
}

.currency-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    margin-top: 7px;
    margin-right: 116px
}

.currency-item {
    color: #555;
    font-size: 16px;
    line-height: 19px;
    margin-right: 25px
}

.symbol {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #285193
}

.search-button-link {
    width: 30px;
    height: 36px;
    margin-top: 2px;
    margin-right: 18px;
    margin-left: 163px;
    padding-top: 8px;
    padding-right: 22px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center
}

.language-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 65px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px
}

.language-ru {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #535353
}

.language-link {
    width: 65px;
    height: 28px;
    padding-top: 7px;
    top: 44px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center
}

.button {
    width: 146px;
    height: 40px;
    margin-left: 71px;
    background-color: #37aee2;
    border-radius: 5px
}

.t-me-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 127px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff
}

.t-me_img {
    width: 20px;
    height: 20px;
    margin-bottom: 9px;
    margin-left: 11px
}

.button-text {
    margin-top: 9px;
    margin-bottom: 18px;
    margin-left: 8px
}

.header-box {
    width: 1200px;
    height: 68px;
    margin-bottom: 32px;
    margin-left: 151px;
    background-color: #fff
}

.header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 26px;
    list-style-type: none;
    font-size: 19px;
    line-height: 23px
}

.header-item {
    margin-right: auto
}

.header-link {
    font-weight: 500;
    color: #000;
    text-decoration: none
}

.banner-img-link {
    margin-left: 151px
}

.container-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.main-form {
    width: 600px;
    margin-left: 144px
}

.form-name {
    width: 600px;
    height: 50px;
    margin-bottom: 10px;
    background: #f1f1f1;
    opacity: .3;
    border: 2px solid #285193;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px
}

.email {
    width: 600px;
    height: 50px;
    margin-bottom: 10px;
    background: #f1f1f1;
    opacity: .3;
    border: 2px solid #285193;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px
}

.phone-number {
    width: 600px;
    height: 50px;
    margin-bottom: 10px;
    background: #f1f1f1;
    opacity: .3;
    border: 2px solid #285193;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px
}

.theme {
    width: 600px;
    height: 50px;
    margin-bottom: 10px;
    background: #f1f1f1;
    opacity: .3;
    border: 2px solid #285193;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px
}

.textarea {
    width: 600px;
    height: 307px;
    background: #f1f1f1;
    opacity: .3;
    border: 2px solid #285193;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px
}

.contact-box {
    width: 510px;
    height: 280px;
    background: #fff;
    margin-top: 62px;
    margin-left: 96px;
    border: 2px solid #bcc3cd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-box-shadow: 0px 8px 9px rgba(57, 57, 57, .25);
    box-shadow: 0px 8px 9px rgba(57, 57, 57, .25);
    border-radius: 5px
}

.bussines-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.contact-logo {
    width: 280px;
    height: 28px;
    margin-top: 22px;
    margin-left: 192px
}

.contact-list {
    width: 261px;
    padding: 0;
    list-style-type: none
}

.contact-item {
    margin-right: 5px;
    margin-bottom: 32px;
    margin-left: 39px
}

.contact-link {
    text-decoration: none;
    color: #888
}

.contact-email {
    height: 24px;
    margin-left: 83px;
    color: #888
}

.contact-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.contact-email-address {
    display: block;
    height: 24px;
    margin-top: 10px
}

.contact-mini-box {
    display: block;
    height: 42px
}

.contact-email-box {
    height: 30px;
    margin-top: 17px;
    margin-right: 37px
}

.contact_card_link {
    margin-top: 11px;
    margin-left: 128px
}

.card-link {
    padding-right: 12px;
    text-decoration: none
}

.card_btn_link {
    width: 173px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 17px;
    margin-left: 83px;
    padding-left: 28px;
    text-decoration: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #295091;
    border-radius: 5px;
    color: #fff
}

.card_app_box {
    margin-top: 19px;
    margin-left: 38px
}

.app-link {
    text-decoration: none;
    padding-right: 5px
}

.form-btn {
    width: 221px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 19px;
    background: #295093;
    color: #fff;
    border: 2px solid rgba(40, 81, 147, .54);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px
}

.footer {
    width: 100%;
    height: 225px;
    background: #295093;
    padding: 20px 0;
    color: #fff
}

.footer_container {
    width: 97%;
    padding: 0 15px;
    margin: 0 auto
}

.footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-left: 14px;
    border-bottom: 3px solid #133c82
}

.footer_logo-link {
    width: 194px;
    height: 38px;
    text-align: center;
    margin-top: 6px;
    margin-left: 25px;
    padding-top: 8px;
    background: #133c82;
    border-radius: 5px
}

.join-telegram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 926px;
    height: 57px;
    margin-left: 151px
}

.join-telegram-text {
    font-size: 18px
}

.t-me-link-footer {
    width: 132px;
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    background: #fff;
    border-radius: 5px;
    margin-left: 51px;
    padding-left: 9px
}

.t-me-button {
    margin-left: 5px
}

.footer-bottom {
    width: 965px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.about-site {
    width: 387px;
    height: 123px;
    margin: 0
}

.footer-bottom-heading {
    margin: 0;
    margin-top: 4px;
    margin-left: 9px
}

.footer-bottom-text {
    font-size: 14px;
    margin: 0;
    margin-top: 8px;
    margin-left: 7px
}

.footer-menu-list {
    list-style-type: none
}

.footer-menu_list-2 {
    list-style-type: none
}